h2 { font-family: Arial, helvetica, serif; font-size: 24px; font-style: bolder; line-height: normal; font-weight: bold; color: #993333 ; text-decoration: none; text-align:left}
h3 { font-family: Arial, helvetica, serif; font-size: 20px; font-style: bolder; line-height: normal; font-weight: bold; color: #993333 ; text-decoration: none; text-align:left}

.FacturaElectronica {
    font-size:21px;
    margin:10px;
    text-align:center;
    font-family: "Helvetica Neue";
    color: red;
    background-color: yellow;
    font-weight:bold;
    vertical-align: center;
    border: 4px solid blue;
    border-radius: 8px;
    box-shadow: 0 0 30px black;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.soporte {
    font-size:16px;
    align-content:right;
    align-self:right;
    text-align:center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:0px;
    padding-bottom:5px;
    padding-top:0px;
    font-family: "Montserrat-Regular, Arial, Verdana, Helvetica";
    font-weight:bold;
    color: blue;
}

/*
.pal {background-image:URL("images/fondo1.jpg"); background-attachment: fixed; background-repeat:no-repeat}

.cuad {border:thin solid #cc6666;padding-right:18;padding-top:13;padding-bottom:13;text-align:justify; background:#ffeeee}

.pal2 {background-image:URL("images/fondo2.jpg"); background-attachment: fixed; background-repeat:no-repeat}

.pal3 {background: #f7b5a5; background-image:URL("images/fondo3.jpg");}

.tit {  font-family: Arial, Verdana, Helvetica; font-size: 30px; font-style: bold; line-height: normal; font-weight: normal; color: #330033; text-decoration:none; text-align:left}

.tex {  font-family: times new roman, Times, serif; font-size: 16px; font-style: bolder; line-height: normal; font-weight: bold; color: #993333 ; text-decoration: none; text-align:right}

.cl {  font-family: arial, times new roman, Times, serif; font-size: 15px; font-style: bolder; line-height: normal; font-weight: bold; color: #993333 ; text-decoration: none; text-align:center}

.tex2  {  font-family: times new roman,arial, helvetica; font-size: 13px; font-style: bold; line-height: normal; font-weight: bold; color: #993333 ; text-decoration: none; text-align:right}

.cl2  {  font-family: arial, times new roman, helvetica; font-size: 11px; font-style: bold; line-height: normal; font-weight: bold; color: #993333 ; text-decoration: none; text-align:center}


.tex3  {  font-family: times new roman, Times, serif; font-size: 11px; font-style: normal; line-height: normal; font-weight: normal; color: #993333 ; text-decoration: none; text-align:center}

.tex4  {  font-family: arial, helvetica, serif; font-size: 12px; font-style: normal; line-height: normal; font-weight: bolder; color: #773333 ; text-decoration: none; text-align:left}

.tex1  { font-family:  Arial, helvetica, serif; font-size: 12px; font-style: normal; line-height: normal; font-weight: normal; color: #000000; text-decoration: none; text-align:justify}

li { font-family:  Arial, helvetica, serif; font-size: 12px; font-style: normal; line-height: normal; font-weight: normal; color: #000000; text-decoration: none; text-align:justify}

.mail { font-family:  times new roman, Arial, helvetica, serif; font-size: 16px; font-style: italic; line-height: normal; font-weight: normal; color: #660000; text-decoration: none; text-align:justify}


h2 { font-family: Arial, helvetica, serif; font-size: 16px; font-style: bolder; line-height: normal; font-weight: bold; color: #993333 ; text-decoration: none; text-align:left}
h3 { font-family: Arial, helvetica, serif; font-size: 14px; font-style: bolder; line-height: normal; font-weight: bold; color: #993333 ; text-decoration: none; text-align:left}
a:link{color:#993333;text-decoration:none;font-weight:600;font-family: Arial, helvetica, serif; font-size: 11px}
a:hover{color:#cc6666;text-decoration:none;font-weight 600;font-family: Arial, helvetica, serif; font-size: 11px}
a:active{color:#ff0066;text-decoration:none;font-weight:600;font-family: Arial, helvetica, serif; font-size: 11px}
a:visited{color:#990066;text-decoration:none;font-weight:600;font-family: Arial, helvetica, serif; font-size: 11px}
*/

.imagen-centrada {
    margin: 0 auto;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.col-center-block {
    float: none;
    display: block;
    margin: 0 auto;
    /* margin-left: auto; margin-right: auto; */
}

#logoHeader{
    float:none;
    display: block;
    margin: 0 auto;
    padding-top:10px;
}

#logo2Header{
    float:none;
    padding-top:20px;
    padding-left:5px;
}

#infoHeader{
    align-content:left;
    align-self:left;
    text-align:left;
    font-size:14px;
    padding-top:16px;
    padding-right:20px;
    font-family: "Montserrat-Regular";
}

#textoPrincipal{
    padding-right:0px;
}

#infoPrincipal{
    font-size:14px;
    text-align:left;
    margin:10px;
    margin-right:0px;
    margin-left: 40px;
    margin-top:0px;
    padding-bottom:10px;
    padding-top:0px;
    float:left;
    font-family: "Montserrat-Regular";
}

.navbar {
    margin-bottom: 0;
}

.icon{
    align-content:right;
}

#divImgFrente{
    padding-top:25px;
    padding-left:20px;
    margin-right:0px;
    float:left;
    max-width:630px;
    max-height:auto;
}

#imgFrente{
    border:5px solid black;
}

#frase{
    font-size:45px;
    color: darkred;
    padding-top: 6px;
    padding-right:0px;
    padding-left:34px;
    padding-bottom:2px;
    font-weight:bold;
    text-align:center;
    font-family:"Calligraphy";
    text-align:left;
    float:left;
}

#institucional{
    font-size:21px;
    margin:10px;
    text-align:center;
    font-family: "Montserrat-Regular";
    padding-top:0px;
}

.especial{
    color:darkred;
}

#imgHistoria{
    display: inline-block;
    padding-left:40px;
}

.pic1{
    padding-right:10px;
    padding-left:10px;
}

.informacion {
    font-size:25px;
    margin:10px;
    padding-bottom:10px;
    text-align:center;
    align-self:center;
    align-items:center;
    float:left;
    font-family: "Montserrat-Regular";
}

.titulo {
    color:darkred;
    font-size:60px;
    font-weight:bold;
    align-self:center;
    align-items:center;
    text-align:center;
    padding-top:6px;
    padding-top:4px;
    margin-top:4px;
    margin-bottom:0px;
    text-decoration: underline;
    font-family:"Calligraphy";
}

#titulo{
    color:darkred;
    font-size:60px;
    font-weight:bold;
    align-self:center;
    align-items:center;
    text-align:center;
    padding-top:6px;
    padding-top:4px;
    margin-top:4px;
    margin-bottom:0px;
    text-decoration: underline;
    font-family:"Calligraphy";
}

#informacion{
    font-size:25px;
    margin:10px;
    padding-bottom:10px;
    float:left;
    font-family: "Montserrat-Regular";
}

#informacionProd{
    font-size:25px;
    margin:10px;
    padding-top:120px;
    float:left;
    padding-left:85px;
    font-style: oblique;
    font-family: "Montserrat-Regular";
}

#informacionTec{
    font-size:25px;
    margin-left:0px;
    padding-bottom:10px;
    float:left;
    font-family: "Montserrat-Regular";
}

#informacionH{
    font-size:25px;
    margin:10px;
    padding-bottom:10px;
    float:left;
    padding-left:16px;
    font-family: "Montserrat-Regular";
}

#mapcon{
padding-left:120px;
}

#consultaIC {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#btnEnviar {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    text-align:center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=textarea], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
/*
    resize: none;
*/
    white-space: wrap;
    overflow-y: scroll;
}

input[type=submit] {
    width: 35%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

#mapa{
    float:left;
    padding-right:50px;
    padding-top:5px;
}

#infoContacto{
    align-content:center;
    align-self:center;
    text-align:center;
    font-size:20px;
    padding-bottom:10px;
    padding-top:0px;
    margin-top:0px;
    font-family: "Montserrat-Regular";
}

.espacio{
    padding-right:10px;
}

#contacto {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding-top:20px;
}

#padPC{
    padding-top:5px;
}

#imgProductos{
    padding-top:25px;
    padding-left:20px;
    margin-right:0px;
    float:left;
}
.producto {
    max-width:630px;
    max-height:auto;
}

#dondeCarousel{
    padding-left:25px;
    padding-top:20px;
}

hr {
  border: 0;
  border-top: 3px double #610B0B;
  width: 80%;
  color: #610B0B;
  height: 2px;
}

.textonormal {
    font-size:16px;
    padding-bottom:10px;
    padding-top:0px;
    margin-top:0px;
    font-family: "Arial";
}


@font-face {
    font-family: "Calligraphy";
    src: url(fonts/Calligraphy.ttf);
}

@font-face {
    font-family: "MKOCR";
    src: url(fonts/MKOCR.ttf);
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url(fonts/Montserrat-Regular.otf);
}

@font-face {
    font-family: "Montserrat-Light";
    src: url(fonts/Montserrat-Light.otf);
}