.jumbotron {
    background-color: yellow;
    color: black;
    margin-top: 50px;
}

.footer {
    padding: 10px 10px 0 10px;
    background-color: black;
    color: white;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-sistema {
   flex: 1 200px;
   margin-top: 10px;
}

.btn-info {
    width: 100%;
    border-radius: 0;
}

.footer-address-icon {
    padding-right: 10px;
}

.tab-content {
    padding-top: 10px;
}