.footer {
  padding: 10px 10px 0 10px;
  background-color: #333333;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-sistema {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-info {
  width: 100%;
  border-radius: 0; }

.footer-address-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }
